/****** Object:  Schema [migration]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE SCHEMA [migration]
GO
/****** Object:  Table [migration].[WorkItemExecutionAttempts]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [migration].[WorkItemExecutionAttempts](
	[ExecutionAttemptId] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkItemId] [bigint] NOT NULL,
	[RunId] [uniqueidentifier] NOT NULL,
	[ManifestRowId] [bigint] NULL,
	[WorkItemType] [nvarchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[AttemptNumber] [int] NOT NULL,
	[WorkerId] [nvarchar](512) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Status] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[StartedUtc] [datetimeoffset](7) NOT NULL,
	[CompletedUtc] [datetimeoffset](7) NULL,
	[DurationMilliseconds] [bigint] NULL,
	[ErrorCode] [nvarchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ErrorMessage] [nvarchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsRetryable] [bit] NULL,
	[PayloadJson] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ResultJson] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreatedUtc] [datetimeoffset](7) NOT NULL,
	[UpdatedUtc] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_WorkItemExecutionAttempts] PRIMARY KEY CLUSTERED 
(
	[ExecutionAttemptId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [migration].[vw_WorkItemExecutionAttemptSummary]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [migration].[vw_WorkItemExecutionAttemptSummary]
AS
SELECT
    RunId,
    WorkItemType,
    Status,
    COUNT_BIG(*) AS AttemptCount,
    MIN(StartedUtc) AS FirstStartedUtc,
    MAX(COALESCE(CompletedUtc, UpdatedUtc, StartedUtc)) AS LastUpdatedUtc,
    SUM(CASE WHEN Status = N'Succeeded' THEN 1 ELSE 0 END) AS SucceededCount,
    SUM(CASE WHEN Status = N'Failed' THEN 1 ELSE 0 END) AS FailedCount,
    SUM(CASE WHEN IsRetryable = 1 THEN 1 ELSE 0 END) AS RetryableCount
FROM migration.WorkItemExecutionAttempts
GROUP BY RunId, WorkItemType, Status;

GO
/****** Object:  Table [migration].[DispatcherExecutions]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [migration].[DispatcherExecutions](
	[ExecutionId] [uniqueidentifier] NOT NULL,
	[WorkerId] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[StartedAt] [datetimeoffset](7) NOT NULL,
	[CompletedAt] [datetimeoffset](7) NOT NULL,
	[DurationMilliseconds] [bigint] NOT NULL,
	[RequestedLeaseCount] [int] NOT NULL,
	[LeasedCount] [int] NOT NULL,
	[CompletedCount] [int] NOT NULL,
	[FailedCount] [int] NOT NULL,
	[Outcome] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Message] [nvarchar](4000) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_DispatcherExecutions] PRIMARY KEY CLUSTERED 
(
	[ExecutionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [migration].[ExecutionCheckpoints]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [migration].[ExecutionCheckpoints](
	[ExecutionCheckpointId] [bigint] IDENTITY(1,1) NOT NULL,
	[RunId] [uniqueidentifier] NOT NULL,
	[CheckpointName] [nvarchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CheckpointValue] [nvarchar](2048) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CheckpointJson] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UpdatedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_ExecutionCheckpoints] PRIMARY KEY CLUSTERED 
(
	[ExecutionCheckpointId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [migration].[IdentifierMappings]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [migration].[IdentifierMappings](
	[IdentifierMappingId] [bigint] IDENTITY(1,1) NOT NULL,
	[RunId] [uniqueidentifier] NOT NULL,
	[SourceSystem] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TargetSystem] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SourceIdentifier] [nvarchar](512) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TargetIdentifier] [nvarchar](512) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[EntityType] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MappingJson] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_IdentifierMappings] PRIMARY KEY CLUSTERED 
(
	[IdentifierMappingId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [migration].[ManifestRows]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [migration].[ManifestRows](
	[ManifestRowId] [bigint] IDENTITY(1,1) NOT NULL,
	[RunId] [uniqueidentifier] NOT NULL,
	[SourceRowNumber] [bigint] NULL,
	[SourceExternalId] [nvarchar](512) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SourcePath] [nvarchar](2048) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ContentHash] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Operation] [nvarchar](64) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ManifestStatus] [nvarchar](64) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PayloadJson] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ValidationJson] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_ManifestRows] PRIMARY KEY CLUSTERED 
(
	[ManifestRowId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [migration].[MigrationAssetMappings]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [migration].[MigrationAssetMappings](
	[IdentifierMappingId] [bigint] IDENTITY(1,1) NOT NULL,
	[RunId] [uniqueidentifier] NOT NULL,
	[SourceSystem] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TargetSystem] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SourceIdentifier] [nvarchar](512) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TargetIdentifier] [nvarchar](512) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[EntityType] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[MappingJson] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [migration].[MigrationCheckpoints]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [migration].[MigrationCheckpoints](
	[CheckpointId] [uniqueidentifier] NOT NULL,
	[RunId] [uniqueidentifier] NOT NULL,
	[CheckpointName] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CheckpointValue] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_MigrationCheckpoints] PRIMARY KEY CLUSTERED 
(
	[CheckpointId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MigrationCheckpoints_RunId_CheckpointName] UNIQUE NONCLUSTERED 
(
	[RunId] ASC,
	[CheckpointName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [migration].[MigrationFailures]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [migration].[MigrationFailures](
	[FailureId] [uniqueidentifier] NOT NULL,
	[RunId] [uniqueidentifier] NOT NULL,
	[ManifestRecordId] [uniqueidentifier] NULL,
	[WorkItemId] [uniqueidentifier] NULL,
	[FailureType] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Message] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Details] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsRetriable] [bit] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_MigrationFailures] PRIMARY KEY CLUSTERED 
(
	[FailureId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [migration].[MigrationIdentifierMaps]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [migration].[MigrationIdentifierMaps](
	[IdentifierMapId] [uniqueidentifier] NOT NULL,
	[RunId] [uniqueidentifier] NOT NULL,
	[ManifestRecordId] [uniqueidentifier] NOT NULL,
	[SourceId] [nvarchar](450) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TargetId] [nvarchar](450) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TargetPath] [nvarchar](2048) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_MigrationIdentifierMaps] PRIMARY KEY CLUSTERED 
(
	[IdentifierMapId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MigrationIdentifierMaps_ManifestRecordId] UNIQUE NONCLUSTERED 
(
	[ManifestRecordId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MigrationIdentifierMaps_RunId_SourceId] UNIQUE NONCLUSTERED 
(
	[RunId] ASC,
	[SourceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [migration].[MigrationManifestRecords]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [migration].[MigrationManifestRecords](
	[ManifestRecordId] [uniqueidentifier] NOT NULL,
	[RunId] [uniqueidentifier] NOT NULL,
	[SequenceNumber] [bigint] NOT NULL,
	[SourceId] [nvarchar](450) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SourcePath] [nvarchar](2048) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SourceName] [nvarchar](512) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ContentType] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ContentLength] [bigint] NULL,
	[Status] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_MigrationManifestRecords] PRIMARY KEY CLUSTERED 
(
	[ManifestRecordId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MigrationManifestRecords_RunId_SequenceNumber] UNIQUE NONCLUSTERED 
(
	[RunId] ASC,
	[SequenceNumber] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MigrationManifestRecords_RunId_SourceId] UNIQUE NONCLUSTERED 
(
	[RunId] ASC,
	[SourceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [migration].[MigrationManifestRows]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [migration].[MigrationManifestRows](
	[ManifestRowId] [bigint] IDENTITY(1,1) NOT NULL,
	[RunId] [uniqueidentifier] NOT NULL,
	[SourceRowNumber] [bigint] NULL,
	[SourceExternalId] [nvarchar](512) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SourcePath] [nvarchar](2048) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ContentHash] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Operation] [nvarchar](64) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ManifestStatus] [nvarchar](64) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PayloadJson] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ValidationJson] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_MigrationManifestRows] PRIMARY KEY CLUSTERED 
(
	[ManifestRowId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [migration].[MigrationProjects]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [migration].[MigrationProjects](
	[ProjectId] [uniqueidentifier] NOT NULL,
	[ProjectKey] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProjectName] [nvarchar](400) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Status] [nvarchar](64) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SettingsJson] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreatedAtUtc] [datetimeoffset](7) NOT NULL,
	[UpdatedAtUtc] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_MigrationProjects] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [migration].[MigrationRunCheckpoints]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [migration].[MigrationRunCheckpoints](
	[CheckpointId] [uniqueidentifier] NOT NULL,
	[RunId] [uniqueidentifier] NOT NULL,
	[CheckpointName] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CheckpointValue] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [migration].[MigrationRuns]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [migration].[MigrationRuns](
	[RunId] [uniqueidentifier] NOT NULL,
	[SourceSystem] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TargetSystem] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Status] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[StartedAt] [datetimeoffset](7) NULL,
	[CompletedAt] [datetimeoffset](7) NULL,
	[FailedAt] [datetimeoffset](7) NULL,
	[FailureReason] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RunName] [nvarchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EnvironmentName] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsDryRun] [bit] NOT NULL,
	[RequestedAtUtc] [datetimeoffset](7) NULL,
	[StartedAtUtc] [datetimeoffset](7) NULL,
	[CompletedAtUtc] [datetimeoffset](7) NULL,
	[UpdatedAtUtc] [datetimeoffset](7) NULL,
	[CompletionEvaluatedUtc] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_MigrationRuns] PRIMARY KEY CLUSTERED 
(
	[RunId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [migration].[MigrationWorkItems]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [migration].[MigrationWorkItems](
	[WorkItemId] [uniqueidentifier] NOT NULL,
	[RunId] [uniqueidentifier] NOT NULL,
	[ManifestRecordId] [uniqueidentifier] NOT NULL,
	[Status] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[AttemptCount] [int] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[LockedAt] [datetimeoffset](7) NULL,
	[LockedBy] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CompletedAt] [datetimeoffset](7) NULL,
	[FailedAt] [datetimeoffset](7) NULL,
	[LastFailureReason] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_MigrationWorkItems] PRIMARY KEY CLUSTERED 
(
	[WorkItemId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MigrationWorkItems_ManifestRecordId] UNIQUE NONCLUSTERED 
(
	[ManifestRecordId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [migration].[ReleaseEvidence]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [migration].[ReleaseEvidence](
	[ReleaseEvidenceId] [bigint] IDENTITY(1,1) NOT NULL,
	[RunId] [uniqueidentifier] NULL,
	[EvidenceType] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[EvidenceName] [nvarchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Status] [nvarchar](64) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[EvidenceJson] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_ReleaseEvidence] PRIMARY KEY CLUSTERED 
(
	[ReleaseEvidenceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [migration].[Runs]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [migration].[Runs](
	[RunId] [uniqueidentifier] NOT NULL,
	[ProjectId] [uniqueidentifier] NULL,
	[RunKey] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RunName] [nvarchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SourceSystem] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TargetSystem] [nvarchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Status] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[StatusReason] [nvarchar](2048) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EnvironmentName] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsDryRun] [bit] NOT NULL,
	[CoordinatorOwner] [nvarchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CoordinationLeaseExpiresUtc] [datetimeoffset](7) NULL,
	[RequestedAtUtc] [datetimeoffset](7) NULL,
	[StartedAtUtc] [datetimeoffset](7) NULL,
	[CompletedAtUtc] [datetimeoffset](7) NULL,
	[RequestedCancellationUtc] [datetimeoffset](7) NULL,
	[CancellationReason] [nvarchar](2048) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CompletionEvaluatedUtc] [datetimeoffset](7) NULL,
	[CreatedAtUtc] [datetimeoffset](7) NOT NULL,
	[UpdatedAtUtc] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RunId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [migration].[WorkerHeartbeats]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [migration].[WorkerHeartbeats](
	[WorkerId] [nvarchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[HostName] [nvarchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ProcessId] [int] NULL,
	[RuntimeVersion] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastHeartbeatUtc] [datetime2](3) NOT NULL,
	[CurrentRunId] [uniqueidentifier] NULL,
	[Status] [nvarchar](64) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DetailsJson] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_WorkerHeartbeats] PRIMARY KEY CLUSTERED 
(
	[WorkerId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [migration].[WorkItemFailures]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [migration].[WorkItemFailures](
	[WorkItemFailureId] [bigint] IDENTITY(1,1) NOT NULL,
	[WorkItemId] [bigint] NOT NULL,
	[RunId] [uniqueidentifier] NOT NULL,
	[AttemptNumber] [int] NOT NULL,
	[ErrorCode] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ErrorMessage] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ExceptionType] [nvarchar](512) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsRetryable] [bit] NOT NULL,
	[FailureJson] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_WorkItemFailures] PRIMARY KEY CLUSTERED 
(
	[WorkItemFailureId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [migration].[WorkItems]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [migration].[WorkItems](
	[WorkItemId] [bigint] IDENTITY(1,1) NOT NULL,
	[RunId] [uniqueidentifier] NOT NULL,
	[ManifestRowId] [bigint] NULL,
	[WorkType] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Status] [nvarchar](64) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Priority] [int] NOT NULL,
	[AttemptCount] [int] NOT NULL,
	[MaxAttempts] [int] NOT NULL,
	[AvailableAtUtc] [datetime2](3) NOT NULL,
	[ClaimedBy] [nvarchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ClaimedAtUtc] [datetime2](3) NULL,
	[LeaseExpiresAtUtc] [datetime2](3) NULL,
	[StartedAtUtc] [datetime2](3) NULL,
	[CompletedAtUtc] [datetime2](3) NULL,
	[IdempotencyKey] [nvarchar](512) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PayloadJson] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ResultJson] [nvarchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastErrorCode] [nvarchar](128) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastErrorMessage] [nvarchar](2048) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[PartitionKey] [nvarchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NotBeforeUtc] [datetime2](3) NULL,
	[LeaseExpiresUtc] [datetime2](3) NULL,
	[CreatedUtc] [datetime2](3) NULL,
	[LeaseOwner] [nvarchar](512) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UpdatedUtc] [datetime2](3) NULL,
	[WorkItemType] [nvarchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_WorkItems] PRIMARY KEY CLUSTERED 
(
	[WorkItemId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_DispatcherExecutions_StartedAt]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_DispatcherExecutions_StartedAt] ON [migration].[DispatcherExecutions]
(
	[StartedAt] DESC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DispatcherExecutions_WorkerId_StartedAt]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_DispatcherExecutions_WorkerId_StartedAt] ON [migration].[DispatcherExecutions]
(
	[WorkerId] ASC,
	[StartedAt] DESC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_ExecutionCheckpoints_RunId_Name]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ExecutionCheckpoints_RunId_Name] ON [migration].[ExecutionCheckpoints]
(
	[RunId] ASC,
	[CheckpointName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_IdentifierMappings_Run_Source_Target_Entity]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_IdentifierMappings_Run_Source_Target_Entity] ON [migration].[IdentifierMappings]
(
	[RunId] ASC,
	[SourceSystem] ASC,
	[TargetSystem] ASC,
	[SourceIdentifier] ASC,
	[EntityType] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ManifestRows_RunId_Status_RowId]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_ManifestRows_RunId_Status_RowId] ON [migration].[ManifestRows]
(
	[RunId] ASC,
	[ManifestStatus] ASC,
	[ManifestRowId] ASC
)
INCLUDE([SourceExternalId],[Operation],[SourcePath]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MigrationAssetMappings_RunId]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_MigrationAssetMappings_RunId] ON [migration].[MigrationAssetMappings]
(
	[RunId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MigrationFailures_ManifestRecordId_CreatedAt]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_MigrationFailures_ManifestRecordId_CreatedAt] ON [migration].[MigrationFailures]
(
	[ManifestRecordId] ASC,
	[CreatedAt] DESC
)
WHERE ([ManifestRecordId] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MigrationFailures_RunId_CreatedAt]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_MigrationFailures_RunId_CreatedAt] ON [migration].[MigrationFailures]
(
	[RunId] ASC,
	[CreatedAt] DESC
)
INCLUDE([ManifestRecordId],[WorkItemId],[FailureType],[IsRetriable]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MigrationFailures_WorkItemId_CreatedAt]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_MigrationFailures_WorkItemId_CreatedAt] ON [migration].[MigrationFailures]
(
	[WorkItemId] ASC,
	[CreatedAt] DESC
)
WHERE ([WorkItemId] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MigrationManifestRecords_RunId_Status_SequenceNumber]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_MigrationManifestRecords_RunId_Status_SequenceNumber] ON [migration].[MigrationManifestRecords]
(
	[RunId] ASC,
	[Status] ASC,
	[SequenceNumber] ASC
)
INCLUDE([SourceId],[SourcePath],[SourceName],[ContentType],[ContentLength],[UpdatedAt]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MigrationProjects_ProjectKey]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_MigrationProjects_ProjectKey] ON [migration].[MigrationProjects]
(
	[ProjectKey] ASC
)
WHERE ([ProjectKey] IS NOT NULL)
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MigrationRunCheckpoints_RunId]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_MigrationRunCheckpoints_RunId] ON [migration].[MigrationRunCheckpoints]
(
	[RunId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MigrationRuns_Status_CreatedAt]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_MigrationRuns_Status_CreatedAt] ON [migration].[MigrationRuns]
(
	[Status] ASC,
	[CreatedAt] DESC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MigrationWorkItems_RunId_Status_CreatedAt]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_MigrationWorkItems_RunId_Status_CreatedAt] ON [migration].[MigrationWorkItems]
(
	[RunId] ASC,
	[Status] ASC,
	[CreatedAt] ASC
)
INCLUDE([ManifestRecordId],[AttemptCount],[LockedAt],[LockedBy],[CompletedAt],[FailedAt]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MigrationWorkItems_Status_LockedAt]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_MigrationWorkItems_Status_LockedAt] ON [migration].[MigrationWorkItems]
(
	[Status] ASC,
	[LockedAt] ASC
)
INCLUDE([RunId],[ManifestRecordId],[AttemptCount],[CreatedAt]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ReleaseEvidence_RunId_Type_Status]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_ReleaseEvidence_RunId_Type_Status] ON [migration].[ReleaseEvidence]
(
	[RunId] ASC,
	[EvidenceType] ASC,
	[Status] ASC,
	[CreatedAtUtc] DESC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkItemExecutionAttempts_Run_WorkItem_Attempt]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_WorkItemExecutionAttempts_Run_WorkItem_Attempt] ON [migration].[WorkItemExecutionAttempts]
(
	[RunId] ASC,
	[WorkItemId] ASC,
	[AttemptNumber] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_WorkItemExecutionAttempts_Status_StartedUtc]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_WorkItemExecutionAttempts_Status_StartedUtc] ON [migration].[WorkItemExecutionAttempts]
(
	[Status] ASC,
	[StartedUtc] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorkItemFailures_RunId_WorkItemId]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_WorkItemFailures_RunId_WorkItemId] ON [migration].[WorkItemFailures]
(
	[RunId] ASC,
	[WorkItemId] ASC,
	[CreatedAtUtc] DESC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_WorkItems_Run_Status_Partition_NotBefore]    Script Date: 5/25/2026 3:45:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_WorkItems_Run_Status_Partition_NotBefore] ON [migration].[WorkItems]
(
	[RunId] ASC,
	[Status] ASC,
	[PartitionKey] ASC,
	[NotBeforeUtc] ASC,
	[LeaseExpiresUtc] ASC,
	[Priority] ASC,
	[CreatedUtc] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [migration].[ExecutionCheckpoints] ADD  CONSTRAINT [DF_ExecutionCheckpoints_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [migration].[IdentifierMappings] ADD  CONSTRAINT [DF_IdentifierMappings_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [migration].[IdentifierMappings] ADD  CONSTRAINT [DF_IdentifierMappings_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [migration].[ManifestRows] ADD  CONSTRAINT [DF_ManifestRows_ManifestStatus]  DEFAULT (N'Pending') FOR [ManifestStatus]
GO
ALTER TABLE [migration].[ManifestRows] ADD  CONSTRAINT [DF_ManifestRows_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [migration].[ManifestRows] ADD  CONSTRAINT [DF_ManifestRows_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [migration].[MigrationProjects] ADD  CONSTRAINT [DF_MigrationProjects_ProjectId]  DEFAULT (newid()) FOR [ProjectId]
GO
ALTER TABLE [migration].[MigrationProjects] ADD  CONSTRAINT [DF_MigrationProjects_Status]  DEFAULT (N'Active') FOR [Status]
GO
ALTER TABLE [migration].[MigrationProjects] ADD  CONSTRAINT [DF_MigrationProjects_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [migration].[MigrationProjects] ADD  CONSTRAINT [DF_MigrationProjects_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [migration].[MigrationRuns] ADD  CONSTRAINT [DF_MigrationRuns_IsDryRun]  DEFAULT ((0)) FOR [IsDryRun]
GO
ALTER TABLE [migration].[ReleaseEvidence] ADD  CONSTRAINT [DF_ReleaseEvidence_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [migration].[Runs] ADD  CONSTRAINT [DF_Runs_IsDryRun]  DEFAULT ((0)) FOR [IsDryRun]
GO
ALTER TABLE [migration].[WorkItemExecutionAttempts] ADD  CONSTRAINT [DF_WorkItemExecutionAttempts_StartedUtc]  DEFAULT (sysdatetimeoffset()) FOR [StartedUtc]
GO
ALTER TABLE [migration].[WorkItemExecutionAttempts] ADD  CONSTRAINT [DF_WorkItemExecutionAttempts_CreatedUtc]  DEFAULT (sysdatetimeoffset()) FOR [CreatedUtc]
GO
ALTER TABLE [migration].[WorkItemExecutionAttempts] ADD  CONSTRAINT [DF_WorkItemExecutionAttempts_UpdatedUtc]  DEFAULT (sysdatetimeoffset()) FOR [UpdatedUtc]
GO
ALTER TABLE [migration].[WorkItemFailures] ADD  CONSTRAINT [DF_WorkItemFailures_IsRetryable]  DEFAULT ((0)) FOR [IsRetryable]
GO
ALTER TABLE [migration].[WorkItemFailures] ADD  CONSTRAINT [DF_WorkItemFailures_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [migration].[WorkItems] ADD  CONSTRAINT [DF_WorkItems_Status]  DEFAULT (N'Queued') FOR [Status]
GO
ALTER TABLE [migration].[WorkItems] ADD  CONSTRAINT [DF_WorkItems_Priority]  DEFAULT ((100)) FOR [Priority]
GO
ALTER TABLE [migration].[WorkItems] ADD  CONSTRAINT [DF_WorkItems_AttemptCount]  DEFAULT ((0)) FOR [AttemptCount]
GO
ALTER TABLE [migration].[WorkItems] ADD  CONSTRAINT [DF_WorkItems_MaxAttempts]  DEFAULT ((5)) FOR [MaxAttempts]
GO
ALTER TABLE [migration].[WorkItems] ADD  CONSTRAINT [DF_WorkItems_AvailableAtUtc]  DEFAULT (sysutcdatetime()) FOR [AvailableAtUtc]
GO
ALTER TABLE [migration].[WorkItems] ADD  CONSTRAINT [DF_WorkItems_CreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [migration].[WorkItems] ADD  CONSTRAINT [DF_WorkItems_UpdatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [UpdatedAtUtc]
GO
ALTER TABLE [migration].[ExecutionCheckpoints]  WITH CHECK ADD  CONSTRAINT [FK_ExecutionCheckpoints_MigrationRuns] FOREIGN KEY([RunId])
REFERENCES [migration].[MigrationRuns] ([RunId])
GO
ALTER TABLE [migration].[ExecutionCheckpoints] CHECK CONSTRAINT [FK_ExecutionCheckpoints_MigrationRuns]
GO
ALTER TABLE [migration].[IdentifierMappings]  WITH CHECK ADD  CONSTRAINT [FK_IdentifierMappings_MigrationRuns] FOREIGN KEY([RunId])
REFERENCES [migration].[MigrationRuns] ([RunId])
GO
ALTER TABLE [migration].[IdentifierMappings] CHECK CONSTRAINT [FK_IdentifierMappings_MigrationRuns]
GO
ALTER TABLE [migration].[ManifestRows]  WITH CHECK ADD  CONSTRAINT [FK_ManifestRows_MigrationRuns] FOREIGN KEY([RunId])
REFERENCES [migration].[MigrationRuns] ([RunId])
GO
ALTER TABLE [migration].[ManifestRows] CHECK CONSTRAINT [FK_ManifestRows_MigrationRuns]
GO
ALTER TABLE [migration].[MigrationCheckpoints]  WITH CHECK ADD  CONSTRAINT [FK_MigrationCheckpoints_MigrationRuns] FOREIGN KEY([RunId])
REFERENCES [migration].[MigrationRuns] ([RunId])
GO
ALTER TABLE [migration].[MigrationCheckpoints] CHECK CONSTRAINT [FK_MigrationCheckpoints_MigrationRuns]
GO
ALTER TABLE [migration].[MigrationFailures]  WITH CHECK ADD  CONSTRAINT [FK_MigrationFailures_MigrationManifestRecords] FOREIGN KEY([ManifestRecordId])
REFERENCES [migration].[MigrationManifestRecords] ([ManifestRecordId])
GO
ALTER TABLE [migration].[MigrationFailures] CHECK CONSTRAINT [FK_MigrationFailures_MigrationManifestRecords]
GO
ALTER TABLE [migration].[MigrationFailures]  WITH CHECK ADD  CONSTRAINT [FK_MigrationFailures_MigrationRuns] FOREIGN KEY([RunId])
REFERENCES [migration].[MigrationRuns] ([RunId])
GO
ALTER TABLE [migration].[MigrationFailures] CHECK CONSTRAINT [FK_MigrationFailures_MigrationRuns]
GO
ALTER TABLE [migration].[MigrationFailures]  WITH CHECK ADD  CONSTRAINT [FK_MigrationFailures_MigrationWorkItems] FOREIGN KEY([WorkItemId])
REFERENCES [migration].[MigrationWorkItems] ([WorkItemId])
GO
ALTER TABLE [migration].[MigrationFailures] CHECK CONSTRAINT [FK_MigrationFailures_MigrationWorkItems]
GO
ALTER TABLE [migration].[MigrationIdentifierMaps]  WITH CHECK ADD  CONSTRAINT [FK_MigrationIdentifierMaps_MigrationManifestRecords] FOREIGN KEY([ManifestRecordId])
REFERENCES [migration].[MigrationManifestRecords] ([ManifestRecordId])
GO
ALTER TABLE [migration].[MigrationIdentifierMaps] CHECK CONSTRAINT [FK_MigrationIdentifierMaps_MigrationManifestRecords]
GO
ALTER TABLE [migration].[MigrationIdentifierMaps]  WITH CHECK ADD  CONSTRAINT [FK_MigrationIdentifierMaps_MigrationRuns] FOREIGN KEY([RunId])
REFERENCES [migration].[MigrationRuns] ([RunId])
GO
ALTER TABLE [migration].[MigrationIdentifierMaps] CHECK CONSTRAINT [FK_MigrationIdentifierMaps_MigrationRuns]
GO
ALTER TABLE [migration].[MigrationManifestRecords]  WITH CHECK ADD  CONSTRAINT [FK_MigrationManifestRecords_MigrationRuns] FOREIGN KEY([RunId])
REFERENCES [migration].[MigrationRuns] ([RunId])
GO
ALTER TABLE [migration].[MigrationManifestRecords] CHECK CONSTRAINT [FK_MigrationManifestRecords_MigrationRuns]
GO
ALTER TABLE [migration].[MigrationWorkItems]  WITH CHECK ADD  CONSTRAINT [FK_MigrationWorkItems_MigrationManifestRecords] FOREIGN KEY([ManifestRecordId])
REFERENCES [migration].[MigrationManifestRecords] ([ManifestRecordId])
GO
ALTER TABLE [migration].[MigrationWorkItems] CHECK CONSTRAINT [FK_MigrationWorkItems_MigrationManifestRecords]
GO
ALTER TABLE [migration].[MigrationWorkItems]  WITH CHECK ADD  CONSTRAINT [FK_MigrationWorkItems_MigrationRuns] FOREIGN KEY([RunId])
REFERENCES [migration].[MigrationRuns] ([RunId])
GO
ALTER TABLE [migration].[MigrationWorkItems] CHECK CONSTRAINT [FK_MigrationWorkItems_MigrationRuns]
GO
ALTER TABLE [migration].[ReleaseEvidence]  WITH CHECK ADD  CONSTRAINT [FK_ReleaseEvidence_MigrationRuns] FOREIGN KEY([RunId])
REFERENCES [migration].[MigrationRuns] ([RunId])
GO
ALTER TABLE [migration].[ReleaseEvidence] CHECK CONSTRAINT [FK_ReleaseEvidence_MigrationRuns]
GO
ALTER TABLE [migration].[WorkItemFailures]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemFailures_MigrationRuns] FOREIGN KEY([RunId])
REFERENCES [migration].[MigrationRuns] ([RunId])
GO
ALTER TABLE [migration].[WorkItemFailures] CHECK CONSTRAINT [FK_WorkItemFailures_MigrationRuns]
GO
ALTER TABLE [migration].[WorkItemFailures]  WITH CHECK ADD  CONSTRAINT [FK_WorkItemFailures_WorkItems] FOREIGN KEY([WorkItemId])
REFERENCES [migration].[WorkItems] ([WorkItemId])
GO
ALTER TABLE [migration].[WorkItemFailures] CHECK CONSTRAINT [FK_WorkItemFailures_WorkItems]
GO
ALTER TABLE [migration].[WorkItems]  WITH CHECK ADD  CONSTRAINT [FK_WorkItems_ManifestRows] FOREIGN KEY([ManifestRowId])
REFERENCES [migration].[ManifestRows] ([ManifestRowId])
GO
ALTER TABLE [migration].[WorkItems] CHECK CONSTRAINT [FK_WorkItems_ManifestRows]
GO
ALTER TABLE [migration].[WorkItems]  WITH CHECK ADD  CONSTRAINT [FK_WorkItems_MigrationRuns] FOREIGN KEY([RunId])
REFERENCES [migration].[MigrationRuns] ([RunId])
GO
ALTER TABLE [migration].[WorkItems] CHECK CONSTRAINT [FK_WorkItems_MigrationRuns]
GO
ALTER TABLE [migration].[MigrationCheckpoints]  WITH CHECK ADD  CONSTRAINT [CK_MigrationCheckpoints_CheckpointName_NotEmpty] CHECK  ((len(ltrim(rtrim([CheckpointName])))>(0)))
GO
ALTER TABLE [migration].[MigrationCheckpoints] CHECK CONSTRAINT [CK_MigrationCheckpoints_CheckpointName_NotEmpty]
GO
ALTER TABLE [migration].[MigrationFailures]  WITH CHECK ADD  CONSTRAINT [CK_MigrationFailures_FailureType_NotEmpty] CHECK  ((len(ltrim(rtrim([FailureType])))>(0)))
GO
ALTER TABLE [migration].[MigrationFailures] CHECK CONSTRAINT [CK_MigrationFailures_FailureType_NotEmpty]
GO
ALTER TABLE [migration].[MigrationFailures]  WITH CHECK ADD  CONSTRAINT [CK_MigrationFailures_Message_NotEmpty] CHECK  ((len(ltrim(rtrim([Message])))>(0)))
GO
ALTER TABLE [migration].[MigrationFailures] CHECK CONSTRAINT [CK_MigrationFailures_Message_NotEmpty]
GO
ALTER TABLE [migration].[MigrationIdentifierMaps]  WITH CHECK ADD  CONSTRAINT [CK_MigrationIdentifierMaps_SourceId_NotEmpty] CHECK  ((len(ltrim(rtrim([SourceId])))>(0)))
GO
ALTER TABLE [migration].[MigrationIdentifierMaps] CHECK CONSTRAINT [CK_MigrationIdentifierMaps_SourceId_NotEmpty]
GO
ALTER TABLE [migration].[MigrationIdentifierMaps]  WITH CHECK ADD  CONSTRAINT [CK_MigrationIdentifierMaps_TargetId_NotEmpty] CHECK  ((len(ltrim(rtrim([TargetId])))>(0)))
GO
ALTER TABLE [migration].[MigrationIdentifierMaps] CHECK CONSTRAINT [CK_MigrationIdentifierMaps_TargetId_NotEmpty]
GO
ALTER TABLE [migration].[MigrationManifestRecords]  WITH CHECK ADD  CONSTRAINT [CK_MigrationManifestRecords_ContentLength_NonNegative] CHECK  (([ContentLength] IS NULL OR [ContentLength]>=(0)))
GO
ALTER TABLE [migration].[MigrationManifestRecords] CHECK CONSTRAINT [CK_MigrationManifestRecords_ContentLength_NonNegative]
GO
ALTER TABLE [migration].[MigrationManifestRecords]  WITH CHECK ADD  CONSTRAINT [CK_MigrationManifestRecords_SequenceNumber_Positive] CHECK  (([SequenceNumber]>(0)))
GO
ALTER TABLE [migration].[MigrationManifestRecords] CHECK CONSTRAINT [CK_MigrationManifestRecords_SequenceNumber_Positive]
GO
ALTER TABLE [migration].[MigrationManifestRecords]  WITH CHECK ADD  CONSTRAINT [CK_MigrationManifestRecords_SourceId_NotEmpty] CHECK  ((len(ltrim(rtrim([SourceId])))>(0)))
GO
ALTER TABLE [migration].[MigrationManifestRecords] CHECK CONSTRAINT [CK_MigrationManifestRecords_SourceId_NotEmpty]
GO
ALTER TABLE [migration].[MigrationManifestRecords]  WITH CHECK ADD  CONSTRAINT [CK_MigrationManifestRecords_Status_NotEmpty] CHECK  ((len(ltrim(rtrim([Status])))>(0)))
GO
ALTER TABLE [migration].[MigrationManifestRecords] CHECK CONSTRAINT [CK_MigrationManifestRecords_Status_NotEmpty]
GO
ALTER TABLE [migration].[MigrationRuns]  WITH CHECK ADD  CONSTRAINT [CK_MigrationRuns_SourceSystem_NotEmpty] CHECK  ((len(ltrim(rtrim([SourceSystem])))>(0)))
GO
ALTER TABLE [migration].[MigrationRuns] CHECK CONSTRAINT [CK_MigrationRuns_SourceSystem_NotEmpty]
GO
ALTER TABLE [migration].[MigrationRuns]  WITH CHECK ADD  CONSTRAINT [CK_MigrationRuns_Status_NotEmpty] CHECK  ((len(ltrim(rtrim([Status])))>(0)))
GO
ALTER TABLE [migration].[MigrationRuns] CHECK CONSTRAINT [CK_MigrationRuns_Status_NotEmpty]
GO
ALTER TABLE [migration].[MigrationRuns]  WITH CHECK ADD  CONSTRAINT [CK_MigrationRuns_TargetSystem_NotEmpty] CHECK  ((len(ltrim(rtrim([TargetSystem])))>(0)))
GO
ALTER TABLE [migration].[MigrationRuns] CHECK CONSTRAINT [CK_MigrationRuns_TargetSystem_NotEmpty]
GO
ALTER TABLE [migration].[MigrationWorkItems]  WITH CHECK ADD  CONSTRAINT [CK_MigrationWorkItems_AttemptCount_NonNegative] CHECK  (([AttemptCount]>=(0)))
GO
ALTER TABLE [migration].[MigrationWorkItems] CHECK CONSTRAINT [CK_MigrationWorkItems_AttemptCount_NonNegative]
GO
ALTER TABLE [migration].[MigrationWorkItems]  WITH CHECK ADD  CONSTRAINT [CK_MigrationWorkItems_Status_NotEmpty] CHECK  ((len(ltrim(rtrim([Status])))>(0)))
GO
ALTER TABLE [migration].[MigrationWorkItems] CHECK CONSTRAINT [CK_MigrationWorkItems_Status_NotEmpty]
GO
/****** Object:  StoredProcedure [migration].[usp_ClaimWorkItems]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [migration].[usp_ClaimWorkItems]
    @WorkerId NVARCHAR(256),
    @BatchSize INT,
    @LeaseSeconds INT = 300,
    @RunId UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @BatchSize IS NULL OR @BatchSize <= 0
    BEGIN
        THROW 51000, 'BatchSize must be greater than zero.', 1;
    END;

    DECLARE @NowUtc DATETIME2(3) = SYSUTCDATETIME();
    DECLARE @LeaseExpiresAtUtc DATETIME2(3) = DATEADD(SECOND, @LeaseSeconds, @NowUtc);

    ;WITH Candidates AS
    (
        SELECT TOP (@BatchSize) wi.WorkItemId
        FROM migration.WorkItems wi WITH (READPAST, UPDLOCK, ROWLOCK, INDEX(IX_WorkItems_ClaimQueue))
        WHERE wi.Status IN (N'Queued', N'RetryScheduled')
          AND wi.AvailableAtUtc <= @NowUtc
          AND (@RunId IS NULL OR wi.RunId = @RunId)
        ORDER BY wi.Priority ASC, wi.AvailableAtUtc ASC, wi.WorkItemId ASC
    )
    UPDATE wi
        SET Status = N'Running',
            ClaimedBy = @WorkerId,
            ClaimedAtUtc = @NowUtc,
            LeaseExpiresAtUtc = @LeaseExpiresAtUtc,
            StartedAtUtc = COALESCE(wi.StartedAtUtc, @NowUtc),
            AttemptCount = wi.AttemptCount + 1,
            UpdatedAtUtc = @NowUtc
    OUTPUT inserted.WorkItemId,
           inserted.RunId,
           inserted.ManifestRowId,
           inserted.WorkType,
           inserted.Status,
           inserted.AttemptCount,
           inserted.MaxAttempts,
           inserted.PayloadJson,
           inserted.LeaseExpiresAtUtc
    FROM migration.WorkItems wi
    INNER JOIN Candidates c ON wi.WorkItemId = c.WorkItemId;
END

GO
/****** Object:  StoredProcedure [migration].[usp_CompleteMigrationRunIfDrained]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [migration].[usp_CompleteMigrationRunIfDrained]
    @RunId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS
    (
        SELECT 1
          FROM migration.WorkItems
         WHERE RunId = @RunId
           AND Status IN (N'Queued', N'RetryScheduled', N'Running')
    )
    AND EXISTS
    (
        SELECT 1
          FROM migration.MigrationRuns
         WHERE RunId = @RunId
           AND Status IN (N'Running', N'Queued', N'Ready')
    )
    BEGIN
        UPDATE migration.MigrationRuns
           SET Status = CASE
                            WHEN EXISTS (SELECT 1 FROM migration.WorkItems WHERE RunId = @RunId AND Status = N'DeadLetter') THEN N'CompletedWithFailures'
                            WHEN EXISTS (SELECT 1 FROM migration.WorkItems WHERE RunId = @RunId AND Status = N'Failed') THEN N'CompletedWithFailures'
                            ELSE N'Completed'
                        END,
               CompletedAtUtc = COALESCE(CompletedAtUtc, SYSUTCDATETIME()),
               UpdatedAtUtc = SYSUTCDATETIME()
         WHERE RunId = @RunId;
    END
END

GO
/****** Object:  StoredProcedure [migration].[usp_CompleteWorkItem]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [migration].[usp_CompleteWorkItem]
    @WorkItemId BIGINT,
    @WorkerId NVARCHAR(256),
    @ResultJson NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NowUtc DATETIME2(3) = SYSUTCDATETIME();

    UPDATE migration.WorkItems
        SET Status = N'Completed',
            CompletedAtUtc = @NowUtc,
            LeaseExpiresAtUtc = NULL,
            ResultJson = @ResultJson,
            UpdatedAtUtc = @NowUtc
    WHERE WorkItemId = @WorkItemId
      AND Status = N'Running'
      AND ClaimedBy = @WorkerId;

    IF @@ROWCOUNT = 0
    BEGIN
        THROW 51001, 'Work item was not completed because it is not currently leased by the supplied worker.', 1;
    END;
END

GO
/****** Object:  StoredProcedure [migration].[usp_EnqueueManifestWorkItems]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [migration].[usp_EnqueueManifestWorkItems]
    @RunId UNIQUEIDENTIFIER,
    @WorkType NVARCHAR(128),
    @BatchSize INT = 5000,
    @MaxAttempts INT = 5,
    @Priority INT = 100
AS
BEGIN
    SET NOCOUNT ON;

    IF @BatchSize IS NULL OR @BatchSize <= 0
    BEGIN
        SET @BatchSize = 5000;
    END

    IF @MaxAttempts IS NULL OR @MaxAttempts <= 0
    BEGIN
        SET @MaxAttempts = 5;
    END

    IF @Priority IS NULL
    BEGIN
        SET @Priority = 100;
    END

    ;WITH CandidateRows AS
    (
        SELECT TOP (@BatchSize)
               mr.ManifestRowId,
               mr.RunId,
               mr.PayloadJson,
               mr.Operation,
               mr.SourceExternalId
          FROM migration.ManifestRows mr WITH (READPAST, UPDLOCK, ROWLOCK)
         WHERE mr.RunId = @RunId
           AND mr.ManifestStatus IN (N'Pending', N'Validated', N'Ready')
           AND NOT EXISTS
           (
               SELECT 1
                 FROM migration.WorkItems wi
                WHERE wi.RunId = mr.RunId
                  AND wi.ManifestRowId = mr.ManifestRowId
                  AND wi.WorkType = @WorkType
           )
         ORDER BY mr.ManifestRowId ASC
    )
    INSERT INTO migration.WorkItems
    (
        RunId,
        ManifestRowId,
        WorkType,
        Status,
        Priority,
        AttemptCount,
        MaxAttempts,
        AvailableAtUtc,
        IdempotencyKey,
        PayloadJson,
        CreatedAtUtc,
        UpdatedAtUtc
    )
    SELECT RunId,
           ManifestRowId,
           @WorkType,
           N'Queued',
           @Priority,
           0,
           @MaxAttempts,
           SYSUTCDATETIME(),
           CONCAT(CONVERT(NVARCHAR(36), RunId), N':', @WorkType, N':', CONVERT(NVARCHAR(32), ManifestRowId)),
           PayloadJson,
           SYSUTCDATETIME(),
           SYSUTCDATETIME()
      FROM CandidateRows;

    DECLARE @Enqueued INT = @@ROWCOUNT;

    UPDATE mr
       SET ManifestStatus = N'Queued',
           UpdatedAtUtc = SYSUTCDATETIME()
      FROM migration.ManifestRows mr
      JOIN migration.WorkItems wi
        ON wi.ManifestRowId = mr.ManifestRowId
       AND wi.RunId = mr.RunId
       AND wi.WorkType = @WorkType
     WHERE mr.RunId = @RunId
       AND mr.ManifestStatus IN (N'Pending', N'Validated', N'Ready');

    SELECT @Enqueued AS EnqueuedCount;
END

GO
/****** Object:  StoredProcedure [migration].[usp_FailWorkItem]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [migration].[usp_FailWorkItem]
    @WorkItemId BIGINT,
    @WorkerId NVARCHAR(256),
    @ErrorCode NVARCHAR(128) = NULL,
    @ErrorMessage NVARCHAR(MAX) = NULL,
    @ExceptionType NVARCHAR(512) = NULL,
    @IsRetryable BIT = 1,
    @RetryDelaySeconds INT = 300,
    @FailureJson NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NowUtc DATETIME2(3) = SYSUTCDATETIME();
    DECLARE @RunId UNIQUEIDENTIFIER;
    DECLARE @AttemptNumber INT;
    DECLARE @MaxAttempts INT;

    SELECT
        @RunId = RunId,
        @AttemptNumber = AttemptCount,
        @MaxAttempts = MaxAttempts
    FROM migration.WorkItems WITH (UPDLOCK, ROWLOCK)
    WHERE WorkItemId = @WorkItemId
      AND Status = N'Running'
      AND ClaimedBy = @WorkerId;

    IF @RunId IS NULL
    BEGIN
        THROW 51002, 'Work item was not failed because it is not currently leased by the supplied worker.', 1;
    END;

    INSERT INTO migration.WorkItemFailures
    (
        WorkItemId,
        RunId,
        AttemptNumber,
        ErrorCode,
        ErrorMessage,
        ExceptionType,
        IsRetryable,
        FailureJson,
        CreatedAtUtc
    )
    VALUES
    (
        @WorkItemId,
        @RunId,
        @AttemptNumber,
        @ErrorCode,
        @ErrorMessage,
        @ExceptionType,
        @IsRetryable,
        @FailureJson,
        @NowUtc
    );

    UPDATE migration.WorkItems
        SET Status = CASE
                        WHEN @IsRetryable = 1 AND AttemptCount < MaxAttempts THEN N'RetryScheduled'
                        ELSE N'DeadLettered'
                     END,
            AvailableAtUtc = CASE
                                WHEN @IsRetryable = 1 AND AttemptCount < MaxAttempts THEN DATEADD(SECOND, @RetryDelaySeconds, @NowUtc)
                                ELSE AvailableAtUtc
                             END,
            LeaseExpiresAtUtc = NULL,
            LastErrorCode = @ErrorCode,
            LastErrorMessage = LEFT(@ErrorMessage, 2048),
            UpdatedAtUtc = @NowUtc
    WHERE WorkItemId = @WorkItemId;
END

GO
/****** Object:  StoredProcedure [migration].[usp_GetRunnableMigrationRuns]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [migration].[usp_GetRunnableMigrationRuns]
    @MaxRows INT = 25
AS
BEGIN
    SET NOCOUNT ON;

    IF @MaxRows IS NULL OR @MaxRows <= 0
    BEGIN
        SET @MaxRows = 25;
    END

    SELECT TOP (@MaxRows)
           r.RunId,
           r.RunName,
           r.EnvironmentName,
           r.SourceSystem,
           r.TargetSystem,
           r.Status,
           r.IsDryRun,
           r.RequestedAtUtc,
           r.StartedAtUtc,
           r.CompletedAtUtc
      FROM migration.MigrationRuns r
     WHERE r.Status IN (N'Created', N'Pending', N'Queued', N'Validated', N'Ready', N'Running')
     ORDER BY r.RequestedAtUtc ASC;
END

GO
/****** Object:  StoredProcedure [migration].[usp_GetRunOperationalSummary]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [migration].[usp_GetRunOperationalSummary]
    @RunId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    SELECT r.RunId,
           r.RunName,
           r.EnvironmentName,
           r.SourceSystem,
           r.TargetSystem,
           r.Status,
           r.IsDryRun,
           r.RequestedAtUtc,
           r.StartedAtUtc,
           r.CompletedAtUtc,
           COUNT(wi.WorkItemId) AS TotalWorkItems,
           SUM(CASE WHEN wi.Status = N'Queued' THEN 1 ELSE 0 END) AS QueuedCount,
           SUM(CASE WHEN wi.Status = N'RetryScheduled' THEN 1 ELSE 0 END) AS RetryScheduledCount,
           SUM(CASE WHEN wi.Status = N'Running' THEN 1 ELSE 0 END) AS RunningCount,
           SUM(CASE WHEN wi.Status = N'Completed' THEN 1 ELSE 0 END) AS CompletedCount,
           SUM(CASE WHEN wi.Status IN (N'Failed', N'DeadLetter') THEN 1 ELSE 0 END) AS FailedCount,
           MAX(wi.UpdatedAtUtc) AS LastWorkItemUpdatedAtUtc
      FROM migration.MigrationRuns r
      LEFT JOIN migration.WorkItems wi
        ON wi.RunId = r.RunId
     WHERE r.RunId = @RunId
     GROUP BY r.RunId,
              r.RunName,
              r.EnvironmentName,
              r.SourceSystem,
              r.TargetSystem,
              r.Status,
              r.IsDryRun,
              r.RequestedAtUtc,
              r.StartedAtUtc,
              r.CompletedAtUtc;
END

GO
/****** Object:  StoredProcedure [migration].[usp_RecordWorkerHeartbeat]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [migration].[usp_RecordWorkerHeartbeat]
    @WorkerId NVARCHAR(256),
    @HostName NVARCHAR(256) = NULL,
    @ProcessId INT = NULL,
    @RuntimeVersion NVARCHAR(128) = NULL,
    @CurrentRunId UNIQUEIDENTIFIER = NULL,
    @Status NVARCHAR(64) = N'Healthy',
    @DetailsJson NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    MERGE migration.WorkerHeartbeats AS target
    USING (SELECT @WorkerId AS WorkerId) AS source
        ON target.WorkerId = source.WorkerId
    WHEN MATCHED THEN
        UPDATE SET HostName = @HostName,
                   ProcessId = @ProcessId,
                   RuntimeVersion = @RuntimeVersion,
                   LastHeartbeatUtc = SYSUTCDATETIME(),
                   CurrentRunId = @CurrentRunId,
                   Status = @Status,
                   DetailsJson = @DetailsJson
    WHEN NOT MATCHED THEN
        INSERT (WorkerId, HostName, ProcessId, RuntimeVersion, LastHeartbeatUtc, CurrentRunId, Status, DetailsJson)
        VALUES (@WorkerId, @HostName, @ProcessId, @RuntimeVersion, SYSUTCDATETIME(), @CurrentRunId, @Status, @DetailsJson);
END

GO
/****** Object:  StoredProcedure [migration].[usp_RecordWorkItemExecutionAttemptCompleted]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [migration].[usp_RecordWorkItemExecutionAttemptCompleted]
    @ExecutionAttemptId bigint,
    @Succeeded bit,
    @ErrorCode nvarchar(256) = NULL,
    @ErrorMessage nvarchar(4000) = NULL,
    @IsRetryable bit = NULL,
    @ResultJson nvarchar(max) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Now datetimeoffset(7) = SYSDATETIMEOFFSET();

    UPDATE migration.WorkItemExecutionAttempts
    SET Status = CASE WHEN @Succeeded = 1 THEN N'Succeeded' ELSE N'Failed' END,
        CompletedUtc = @Now,
        DurationMilliseconds = DATEDIFF_BIG(millisecond, StartedUtc, @Now),
        ErrorCode = @ErrorCode,
        ErrorMessage = @ErrorMessage,
        IsRetryable = @IsRetryable,
        ResultJson = @ResultJson,
        UpdatedUtc = @Now
    WHERE ExecutionAttemptId = @ExecutionAttemptId;
END

GO
/****** Object:  StoredProcedure [migration].[usp_RecordWorkItemExecutionAttemptStarted]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [migration].[usp_RecordWorkItemExecutionAttemptStarted]
    @WorkItemId bigint,
    @RunId uniqueidentifier,
    @ManifestRowId bigint = NULL,
    @WorkItemType nvarchar(256),
    @AttemptNumber int,
    @WorkerId nvarchar(512),
    @PayloadJson nvarchar(max) = NULL,
    @ExecutionAttemptId bigint OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO migration.WorkItemExecutionAttempts
    (
        WorkItemId,
        RunId,
        ManifestRowId,
        WorkItemType,
        AttemptNumber,
        WorkerId,
        Status,
        PayloadJson
    )
    VALUES
    (
        @WorkItemId,
        @RunId,
        @ManifestRowId,
        @WorkItemType,
        @AttemptNumber,
        @WorkerId,
        N'Started',
        @PayloadJson
    );

    SET @ExecutionAttemptId = CONVERT(bigint, SCOPE_IDENTITY());
END

GO
/****** Object:  StoredProcedure [migration].[usp_RecoverExpiredLeases]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [migration].[usp_RecoverExpiredLeases]
    @MaxItems INT = 1000
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NowUtc DATETIME2(3) = SYSUTCDATETIME();

    ;WITH Expired AS
    (
        SELECT TOP (@MaxItems) WorkItemId
        FROM migration.WorkItems WITH (READPAST, UPDLOCK, ROWLOCK, INDEX(IX_WorkItems_LeaseRecovery))
        WHERE Status = N'Running'
          AND LeaseExpiresAtUtc IS NOT NULL
          AND LeaseExpiresAtUtc < @NowUtc
        ORDER BY LeaseExpiresAtUtc ASC, WorkItemId ASC
    )
    UPDATE wi
        SET Status = CASE WHEN wi.AttemptCount < wi.MaxAttempts THEN N'RetryScheduled' ELSE N'DeadLettered' END,
            AvailableAtUtc = @NowUtc,
            ClaimedBy = NULL,
            ClaimedAtUtc = NULL,
            LeaseExpiresAtUtc = NULL,
            LastErrorCode = COALESCE(wi.LastErrorCode, N'LeaseExpired'),
            LastErrorMessage = COALESCE(wi.LastErrorMessage, N'Work item lease expired before completion.'),
            UpdatedAtUtc = @NowUtc
    OUTPUT inserted.WorkItemId,
           inserted.RunId,
           inserted.Status,
           inserted.AttemptCount,
           inserted.MaxAttempts
    FROM migration.WorkItems wi
    INNER JOIN Expired e ON wi.WorkItemId = e.WorkItemId;
END

GO
/****** Object:  StoredProcedure [migration].[usp_StartMigrationRun]    Script Date: 5/25/2026 3:45:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE   PROCEDURE [migration].[usp_StartMigrationRun]
    @RunId UNIQUEIDENTIFIER,
    @StartedAtUtc DATETIME2(3) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE migration.MigrationRuns
       SET Status = N'Running',
           StartedAtUtc = COALESCE(StartedAtUtc, COALESCE(@StartedAtUtc, SYSUTCDATETIME())),
           UpdatedAtUtc = SYSUTCDATETIME()
     WHERE RunId = @RunId
       AND Status IN (N'Created', N'Pending', N'Queued', N'Validated', N'Ready', N'Running');
END

GO
